@import "tailwindcss";

header {
    font-family: "Kings", cursive;
    font-size: 2.5rem;
}

header nav, footer {
    font-family: "Cinzel", serif;
}

header nav {
    font-size: 1.25rem;
}

h1, h2, h3, h4, button {
    font-family: "Cinzel", serif;
}

p, label {
    font-family: "Nunito Sans", sans-serif;
}

section img {
    box-shadow: seagreen 0 0 12px;
}